@import "../../components/topography/theme/colors";
@import "../../components/topography/screens/screens";

.container {
  padding: 0px 128px;
  &_content {
    &_title {
      margin-top: 63px;
      display: flex;
      justify-content: center;
      &_text {
        color: var(--Red-900, #be0002);
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &_form {
      margin-bottom: 96px;
      margin-top: 34px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 0px;
    width: 100vw;
    overflow: hidden !important;
    &_content {
      &_form {
        padding: 40px 20px 60px 20px;
        grid-template-columns: 1fr;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .container_content_couch {
    display: none;
  }
}
