.container {
  margin-top: 66px;
  &_content {
    &_form_cont {
      &_context {
        display: flex;
        flex-direction: column;
        gap: 40px;
        &_input {
          height: 60px;
          width: 100%;
        }
      }
    }
  }
}
