@import "../../../components/topography/theme/colors";
@import "../../../components/topography/screens/screens";

.container {
  padding: 0px 128px;
  &_content {
    width: 582px;
    display: flex;
    margin: 10px auto;
    flex-direction: column;
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 15px;
    width: 100vw;
    overflow: hidden !important;
    &_content {
      margin-top: 50px;
      width: 100%;
    }
  }
}
