@import "../../topography/theme/_colors";

.button {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

#active {
  background: var(--Red-900, $primary-color);
}
#notActive {
  border: 0px solid var(--Red-900, $primary-color);
}
