@import "../../components/topography/screens/screens";
@import "../../components/topography/theme/colors";

.container {
  padding: 0px 128px;
  font-family: Montserrat;
  &_content {
    &_title {
      margin-top: 63px;
      display: flex;
      justify-content: center;
      &_text {
        color: var(--Red-900, $primary-color);
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &_cont {
      width: 100%;
      // height: 433px;
      //   background-color: $primary-color;;
      margin: 49px auto auto;
      margin-bottom: 293px;
      display: grid;
      grid-template-columns: 0.85fr 0.1fr 0.05fr;
      column-gap: 0.5rem;
      &_list {
        // width: 783px;
        &_items {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
      &_pricing_cont {
        width: 281px;

        &_summary {
          &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            span {
              color: #000;
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }

            &_subtotal {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 48px;
              span {
                color: #000;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
        .hr {
          border: 1px solid $primary-color;
          width: 100%;
          margin: 0;
          padding: 0;
          margin-top: 16px;
          margin-bottom: 16px;
        }
      }
      &_divider {
        height: 100%;
        background-color: $primary-color;
        width: 1.5px;
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 15px;
    width: 100vw !important;
    overflow: hidden !important;
    &_content_title {
      &_text {
        font-size: 28px;
      }
    }
  }
  .container_content_cont {
    display: flex !important;
    flex-direction: column;
    &_list {
      width: 100% !important;
    }
  }
  .container_content_cont_pricing_cont {
    width: 100% !important;
    margin-top: 20px;
  }
  .container_content_cont_divider {
    width: 100%;
    background-color: $primary-color;
    height: 0px;
  }
}
