@import "../../components/topography/theme/colors";
@import "../../components/topography/screens/screens";

.container {
  padding: 0px 128px;
  &_content {
    &_title {
      margin-top: 63px;
      display: flex;
      justify-content: center;
      &_text {
        color: var(--Red-900, #be0002);
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &_cont {
      margin: 49px auto 293px auto;
      display: grid;
      grid-template-columns: 0.95fr 0.01fr 0.05fr;
      column-gap: 3rem;
      &_form {
        &_deliverys {
          display: flex;
          margin-bottom: 20px;
          justify-content: space-between;
        }
        &_delivery_info {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
        }
        &_delivery_extra {
          display: flex;
          justify-content: space-between;
        }
      }
      &_pricing_cont {
        width: 281px;
        &_summary {
          &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            span {
              color: #000;
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            &_subtotal {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 48px;
              span {
                color: #000;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
        .hr {
          border: 1px solid #be0002;
          width: 100%;
          margin: 0;
          padding: 0;
          margin-top: 16px;
          margin-bottom: 16px;
        }
      }
      &_divider {
        height: 100%;
        background-color: #be0002;
        width: 1.5px;
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 20px;
    width: 100vw !important;
    overflow: hidden !important;
    &_content_title {
      &_text {
        font-size: 28px;
      }
    }
    &_content_cont {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &_form_delivery_info {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &_input {
          height: 60px;
          width: 100%;
        }
      }
      &_pricing_cont {
        margin: 0px !important;
        width: 100%;
      }
    }
  }
}
