@import "../topography/theme/colors";
@import "../topography/screens/screens";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Montserrat&family=Roboto:wght@500&display=swap");

.container {
  height: 64px;
  border: solid $primary-color;

  .container_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.itemBlock_container {
  display: flex;
  height: 24px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background: rgba(190, 0, 2, 0.5);
  .itemBlock_container_content {
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      color: #fff;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-left: 10px;
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    height: auto !important;
  }
  .container_content {
    flex-direction: column;
    padding-top: 10px;
  }
  .itemBlock_container {
    height: auto !important;
    margin-bottom: 10px;
  }
}
