@import "../../components/topography/theme/colors";
@import "../../components/topography/screens/screens";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Montserrat&family=Roboto:wght@500&display=swap");

.home_main {
  padding: 0px 128px;
  .hero {
    margin-top: 70px;
    &_container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      column-gap: 28px;
      width: 80%;
      margin: auto;
      &_img {
        width: 483px;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &_desc {
        & > span:first-child {
          color: var(--Black, #151313);
          font-family: Montserrat;
          font-size: 19px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        & .phone_name {
          color: var(--Red-900, $primary-color);
          font-family: Montserrat;
          font-size: 54px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        & .sub_title {
          color: var(--Black, #151313);
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        ul {
          list-style: none;
          padding-left: 0px;
          margin-bottom: 10px;

          li {
            color: var(--Black, #151313);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            margin-top: 10px;
            font-weight: 400;
            line-height: normal;
          }
        }
        &_btn {
          margin-top: 40px;
        }
      }
    }
    hr {
      border: 1px solid $primary-color;
      width: 100%;
      margin: 0;
      padding: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  .height108 {
    height: 108px;
  }
  .items_container {
    // width: 100%;
    &_content_title {
      color: #000;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &_content_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 25px;
      width: 100%;
      row-gap: 48px;
      margin-top: 40px;
    }
    &_content_button {
      margin-top: 58px;
      display: flex;
      justify-content: center;
    }
  }
}
@media (max-width: $breakpoint-small) {
  .home_main {
    padding: 0px 0px;
    width: 100vw;
    overflow: hidden !important;
  }
}
