.container {
  padding: 8px 8px 8px 32px;
  a {
    text-decoration: none;
    color: var(--Black, #151313);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
