.container_content_cont_form {
  &_deliverys {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  &_delivery_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &_input {
      height: 50px;
      width: 100%;
    }
  }
  &_delivery_extra {
    display: flex;
    justify-content: space-between;
  }
}
