@import "../../topography/theme/_colors";
@import "../../topography/screens/screens";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Montserrat&family=Roboto:wght@500&display=swap");

.container {
  &_content {
    &_form_cont {
      margin: auto;
      &_title {
        display: flex;
        justify-content: center;
        & > span {
          color: var(--Black, #151313);
          font-family: Montserrat;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-align: center;
        }
        margin-bottom: 64px;
      }
      &_social_logins {
        display: flex;
        justify-content: space-between;
        &_btn {
        }
      }
      &_or {
        display: flex;

        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 53px;
        &_line {
          //   width: 10%;
          height: 1px;

          background: #151313;
          width: 216px;
        }
        &_text {
          color: var(--Black, #151313);
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &_top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        width: 100%;
        margin-bottom: 40px;
        &_input {
          height: 60px;
          margin-bottom: 40px;
        }
      }
      &_password {
        width: 100%;
        margin-bottom: 24px;
      }
      &_extra {
        display: flex;
        justify-content: center;
        margin-top: 32px;
        &_text {
          color: var(--Black, #151313);
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        &_link {
          color: var(--Red-900, #be0002);
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          text-decoration: none;
          line-height: normal;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 0px;
    // width: 100vw;
    &_content_form_cont {
      &_title {
        align-items: center;
      }
      &_social_logins {
        padding: 0px !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px !important;
        width: 100%;
        &_btn {
          height: 60px;
          width: 100%;
        }
      }
      &_top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
        gap: 40px !important;
        &_input {
          height: 60px;
        }
      }
      &_or {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        &_line {
          display: none;
        }
      }
    }
  }
}
