@import "../../topography/theme/_colors";
@import "../../topography/screens/screens";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Montserrat&family=Roboto:wght@500&display=swap");

.container {
  &_content {
    &_form_cards {
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
    }
    &_form_card_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      &_input {
        height: 60px;
      }
    }
    &_form_card_extra {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      &_input {
        height: 60px;
        width: 30%;
      }
    }
    &_form_checkbox {
      display: flex;
      align-items: center;
      margin-top: 60px;
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      & > span {
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    &_content {
      &_form {
        display: flex;
        flex-direction: column;

        &_card_info {
          display: flex;
          flex-direction: column;
          gap: 40px;
          &_input {
            height: 60px;
          }
        }
        &_card_extra {
          margin-top: 40px;
          height: 60px;
          display: flex;
          &_input {
            width: 30%;
          }
        }
        &_checkbox {
          margin-top: 60px;
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
