@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Montserrat&family=Roboto:wght@500&display=swap");
@import "../../topography/screens/screens";
@import "../../topography/theme/colors";

.container {
  height: 100%;
  width: 100%;
  border: 1px solid var(--Red-90, rgba(190, 0, 2, 0.9));
  display: flex;
  justify-content: center;
  &_content {
    padding: 12px;
    &_image {
      img {
        width: 100%;
        height: 100%;
      }
    }
    &_name {
      color: var(--Red-900, #be0002);
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      margin-bottom: 8px;

      font-weight: 600;
      line-height: normal;
    }
    &_space {
      color: var(--Black, #151313);
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 8px;
      text-align: center;
      line-height: normal;
    }
    &_price {
      color: #000;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      text-align: center;

      line-height: normal;
    }
    .button_container {
      margin-top: 16px;
    }
  }
}

.container_content_image {
  width: 79.233px;
  height: 96px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: $breakpoint-small) {
  .container {
    &_content {
      padding: 12px;
      &_name {
      }
    }
  }
}
