.container {
  background: var(--Red-900, #be0002);
  height: 286px;
  padding: 64px 128px;
  &_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 28px;

    .items {
      &_item {
        display: flex;
        align-items: center;
        margin-top: 12px;

        &_text {
          color: #fffdfd;
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        &_icon {
          width: 22px;
          height: 22px;
          margin-right: 12px;
        }
      }
    }
    .socials {
      margin-top: 28px;
      display: grid;
      grid-template-columns: 0.2fr 0.2fr 0.2fr;
      column-gap: 0px;
    }

    &_title {
      color: #fffdfd;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
