@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Montserrat&family=Roboto:wght@500&display=swap");
@import "../../components/topography/screens/screens";
@import "../../components/topography/theme/colors";

.container {
  padding: 0px 128px;
  margin-bottom: 100px;
  height: 100vh;
  &_content {
    &_cont {
      display: flex;
      width: 100vw;
      &_nav {
        background-color: #fbdddd;
        height: 95vh;
        min-width: 281px;
        &_user {
          margin-top: 50px;
          display: flex;
          align-items: center;
          flex-flow: column;
          &_img {
            border-radius: 50px;
            width: 88px;
            height: 88px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          &_text {
            margin-top: 32px;
            span {
              color: #000;
              font-family: Montserrat;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            h2 {
              color: #000;
              font-family: Montserrat;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }
        &_items {
          margin-top: 40px;
        }
        &_mobile_items {
          display: none;
        }
      }
      &_details {
        margin-left: 46px;
        margin-top: 40px;
        width: 481px;
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 20px;
    width: 100vw !important;
    height: 100% !important;
    overflow: hidden !important;
    &_content_cont {
      display: flex;
      flex-direction: column;
      width: 100% !important;
      &_nav {
        height: 100% !important;
        display: flex;
        flex-direction: column;

        gap: 20px;
        &_user {
          display: flex;
          width: 100%;
          margin-top: 20px;
          &_text {
            margin-top: 15px;
            text-align: center;
          }
        }
        &_items {
          display: none;
        }
        &_mobile_items {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          margin-bottom: 20px;
          &_item {
            color: #000;
            text-decoration: none !important;
          }
        }
      }
      &_details {
        margin-left: 0px;
        width: 100% !important;
        min-width: none !important;
      }
    }
  }
}
