@import "../../components/topography/theme/colors";
@import "../../components/topography/screens/screens";

.container {
  padding: 0px 128px;
  &_content {
    &_title {
      margin-top: 63px;
      display: flex;
      justify-content: center;
      &_text {
        color: var(--Red-900, #be0002);
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &_cont {
      width: 850px;
      // height: 433px;
      margin: 49px auto 293px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 94px;
      &_form {
        width: 380px;
      }
      &_pricing_cont {
        width: 281px;
        &_summary {
          &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            span {
              color: #000;
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }

            &_subtotal {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 48px;
              span {
                color: #000;
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
        .hr {
          border: 1px solid #be0002;
          width: 100%;
          margin: 0;
          padding: 0;
          margin-top: 16px;
          margin-bottom: 16px;
        }
      }
      &_divider {
        height: 100%;
        background-color: #be0002;
        width: 1.5px;
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 20px;
    width: 100vw !important;
    overflow: hidden !important;
    &_title {
      margin-top: 63px;
      display: flex;
      justify-content: center;
      &_text {
        color: var(--Red-900, #be0002);
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &_content {
      &_title {
        margin-top: 63px;
        display: flex;
        justify-content: center;
        &_text {
          font-size: 28px;
        }
      }
      &_cont {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        gap: 20px;
        &_form {
          width: 100% !important;
        }
        &_pricing_cont {
          margin: 0px !important;
          width: 100%;
        }
      }
    }
  }
}
