@import "../../components/topography/theme/colors";
@import "../../components/topography/screens/screens";
.container {
  padding: 0px 128px;
  &_content {
    margin-bottom: 293px;

    &_cont {
      margin-top: 64px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 61px;
      width: 80%;
      &_img {
        width: 346px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        &_container {
          width: 278px;

          & > img {
            width: 100%;
            height: 100%;
          }
        }
        &_list {
          margin-top: 64px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 18px;
          width: 100%;
          &_item {
            display: flex;
            justify-content: center;
            padding: 12px;
            border: 3px solid var(--Red-900, #be0002);
          }
        }
      }
      &_divider {
        height: 100%;
        background-color: #be0002;
        width: 2px;
      }
      &_info {
        width: 454px;
        &_title {
          & > span {
            color: var(--Red-900, #be0002);
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        &_cont {
          margin-top: 48px;
          &_summary {
            &_item {
              display: flex;
              align-items: center;
              margin-bottom: 16px;
              span {
                color: var(--Black, #151313);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                margin-left: 12px;
                font-weight: 400;
                line-height: normal;
              }
            }
            &_item_blocks {
              display: flex;
              margin-top: 28px;
              margin-bottom: 24px;
              & > .blockContainer {
                width: 44px;
                height: 44px;
                border: 2px solid var(--Red-900, #be0002);
                margin-right: 18px;
                padding: 8px;
                .blockContainer_content {
                  height: 100%;
                  width: 100%;
                }
              }
            }
            &_item_subtotal_mobile {
              display: none;
            }
            &_item_subtotal,
            &_item_subtotal_mobile {
              margin-bottom: 64px;
              span {
                color: var(--Black, #151313);
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 15px;
    width: 100vw;
    overflow: hidden !important;
    &_content_cont {
      grid-template-columns: 1fr;
      column-gap: 0px important;
      width: 100% !important;
      padding: 0px 0px;
      &_divider {
        margin-top: 34px;
        height: 1px;
        background-color: #be0002;
        width: auto;
      }
      &_img {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center !important;

        &_container {
          width: 50%;
          padding: 0px 0px !important;

          & > img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &_info {
        width: 100%;
        margin-top: 32px;
        &_title {
          & > span {
            color: var(--Red-900, #be0002);
            font-family: Montserrat;
            font-size: 32px !important;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        &_cont_summary_item_subtotal_mobile {
          display: flex;
          margin-bottom: 10px;
        }
        &_cont_summary_item_subtotal {
          display: none;
        }
        &_cont_summary_item_blocks {
          margin: auto;
          margin-bottom: 24px;
        }
        &_cont_summary_item_btn {
          display: flex;
          width: 100%;
          justify-content: stretch;
        }
      }
    }
  }
}
