@import "../../components/topography/theme/colors";
@import "../../components/topography/screens/screens";

.container {
  padding: 0px 128px;
  &_content {
    width: 100%;
    &_title {
      margin-top: 63px;
      display: flex;
      justify-content: center;
      &_text {
        color: var(--Red-900, #be0002);
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &_table {
      margin-top: 63px;
      width: 100%;
    }
  }
}
@media (max-width: $breakpoint-small) {
  .container {
    padding: 0px 20px;
    width: 100vw !important;
    overflow: hidden !important;
    &_content {
      width: 100%;
    }
    &_content_title {
      &_text {
        font-size: 28px;
      }
    }
    &_content_table {
    }
  }
}
